# Database configuration for PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Password123
POSTGRES_DB=fed_systems_db
POSTGRES_PORT=5439 # Originally 5432

# FRB account credentials
FRB_ROUTING_NUMBER=090000515
FRB_LEGAL_NAME="FRB Tungsten"

# Service ports (ach-backend)
APP_ACH_PORT=8310 # Originally 8001

# Server network identity for LAN deployments
# Keep localhost for single-machine dev; set SERVER_IP to your LAN IP on a shared network.
SERVER_IP=127.0.0.1

# React settings
REACT_PORT=3310 # Originally 3000
VITE_PORT=5514 # Originall 5173

# SFTP server ports
SFTP_ACH_HOST_PORT=2221

# Bank SFTP usernames (all lowercase and with '-' instead of spaces. For adding new banks check the README and docker-compose.yml for instructions)
BANK0 = "baguette-bank"
BANK1 = "leek-bank"
BANK2 = "bank-of-the-onion"
BANK3 = "croissant-bank"