# rtp-backend/.env.example
# należy skopiować ten plik do .env i uzupełnić odpowiednimi kluczami
DATABASE_URL=postgresql://rtp_user:rtp_password@postgres-rtp:5432/rtp_database
BANKA_API_KEY=keya
BANKB_API_KEY=keyb